<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger Time!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script>
	</head>
	<body>
		<div class="container"> 

			<h1>BURGER TIME!</h1>

			<img src="/assets/images/burger-img.png" width="600">

			{{{ body }}}

		</div>
	</body>
</html>